@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@900&display=swap');
/* 
    General Styles
*/
html *{
    background:#feefeb;
    font-family: 'Mulish', sans-serif;
}
body{
    height: 100vh;
}
input {
    background-color: #eaeef8;
}
button {
    background-color: #ff838a;
}